<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name = "viewpoint" content="width=device-width, initial-scale=1">
    <title>Bartending Refresher</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="{% url 'BG:index' %}" class="navbar-brand">BarRefresher</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'BG:index' %}">Home</a></li>
                    <li><a href="{% url 'BG:About' %}">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>