{% extends 'BartendingRefresher/basetemplate.html' %}

{% block body %}
    {% if Drink %}
    <!--TODO-Suggestion: display the list of ingredients for the drink-->

    <!--{{Drink.get_fields_and_values}}-->
        {% for Field, Value in Drink.get_fields_and_values %}
            {% if Value != 'None' %}
                <li>{{Field}} --- {{Value}}</li>
            {% endif %}
                <!--{% for Field, Ingredient in Ingredients.items %}-->
                    <!--<li>{{Field}}:  {{Ingredient}}</li>-->
                <!--{% endfor %}-->
        {%endfor%}

    {% else %}

        <p>No Ingredients Yet.</p>

    {% endif %}
{% endblock %}